
body {
  background-image: url(1000_F_463962001_nYoooOTrqbCKpjZVYEPpGWvvfY9Cpzlb.jpg);
  background-repeat:no repeat;
  background-attachment: fixed;
  background-size: 100%;
  } 
  
  hr {
    border-style: none;
    border-top-style: dotted;
    border-color:black;
    border-width: 100px;
    width: 10%;
  }